* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
header{
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
header a{
    color: #fce138;
    text-decoration: none;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.page-title {
    font-size: 42px;
    margin-bottom: 35px;
    padding: 0 80px 15px 80px;
    border-bottom: 3px solid;
    display: inline-block;
    color: #fce138;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    border-color: #fce138;
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 275px;
    background-position: bottom;
    text-align: center;
    padding-top:  80px;
}

.secondary-content {
    width: 80%;
    margin: 0 auto;
    color: #024e76;
}
.secondary-content h2 {
    font-size: 25px;
    margin: 20px 0;
}
.secondary-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}
.secondary-content ul {
    margin: 15px 20px;
}
.secondary-content li {
    color: #39a6b2;
    margin: 10px 0;
}
footer {
    padding: 20px 35px;
    background-color: #fce138;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    font-size: 30px;
    color: #024e76;
    margin: 0;
}
footer div{
    line-height: 1.5;
    text-align: right;
}
footer a{
    color: #024e76;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}
